//
// EVPP DS Typography Mixins
//

// ----------
// Block Modifier @access public
// @param {String} $modifer - Modifier's name
// stylelint-disable at-rule-no-unknown
// stylelint-disable plugin/no-browser-hacks
// stylelint-disable length-zero-no-unit

// ----------
// Font Family Mixins
//300: GT SECTRA BOOK
@mixin ut-font--serif-300 {
  font-family: 'GT Sectra', serif;
  font-weight: 300;
}

//300: GT SECTRA BOOK ITALIC
@mixin ut-font--serif-300i {
  font-family: 'GT Sectra', serif;
  font-weight: 300;
  font-style: italic;
}

//400: GT SECTRA REGULAR
@mixin ut-font--serif-400 {
  font-family: 'GT Sectra', serif;
  font-weight: 400;
}

//500: GT SECTRA MEDIUM
@mixin ut-font--serif-500 {
  font-family: 'GT Sectra', serif;
  font-weight: 500;
}

//500: BENTON SANS REGULAR
@mixin ut-font--sans-500 {
  font-family: benton-sans, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
}

//600: BENTON SANS MEDIUM
@mixin ut-font--sans-600 {
  font-family: benton-sans, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
}

//MONO
@mixin ut-font--number {
  font-family: interstate-mono, monospace;
  font-style: normal;
  font-weight: 400;
}

@mixin overline {
  color: #1C202C;
  @include ut-font--sans-600;
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 20px;
  text-transform: uppercase;
  &.brand {
    color: #9d4700;
  }
}
