// ----------
// GT Sectra

//300: GT SECTRA BOOK
@font-face {
  font-family: 'GT Sectra', serif;
  src: url('../fonts/GTSectra/GT-Sectra-Book.woff') format('woff'), url('../fonts/GTSectra/GT-Sectra-Book.woff2') format('woff2'), url('../fonts/GTSectra/GT-Sectra-Book.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
}

//300: GT SECTRA BOOK ITALIC
@font-face {
  font-family: 'GT Sectra', serif;
  font-style: italic;
  src: url('../fonts/GTSectra/GT-Sectra-Book-Italic.woff') format('woff'), url('../fonts/GTSectra/GT-Sectra-Book-Italic.woff2') format('woff2'), url('../fonts/GTSectra/GT-Sectra-Book-Italic.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
}

//400: GT SECTRA REGULAR
@font-face {
  font-family: 'GT Sectra', serif;
  src: url('../fonts/GTSectra/GT-Sectra-Regular.woff') format('woff'), url('../fonts/GTSectra/GT-Sectra-Regular.woff2') format('woff2'), url('../fonts/GTSectra/GT-Sectra-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

//500: GT SECTRA MEDIUM
@font-face {
  font-family: 'GT Sectra', serif;
  src: url('../fonts/GTSectra/GT-Sectra-Medium.woff') format('woff'), url('../fonts/GTSectra/GT-Sectra-Medium.woff2') format('woff2'), url('../fonts/GTSectra/GT-Sectra-Medium.ttf') format('truetype') ;
  font-weight: 500;
  font-display: swap;
}
